<!-- <p>shows works!</p>
<div *ngFor="let show of popularShows$ | async as shows">
    {{show.name}}
</div> -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row ml-15">
    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngFor="let show of
        popularShows$ | async as shows">
        <div class="card mb-4 shadow-sm">
            <img class="img-card"
                [src]="show.image.original" alt="Image not found">
        </div>
    </div>
</div>